body {
  background-image: url(images/bg-lightl-904.jpg);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
}
div{
  padding-left: 1em;
  margin-top: 0px;
}
#header{ 
  background-color:rgb(46, 44, 44);
  padding-top: 0px;
  margin-top: 0px;
  height: max-content;
  color: azure;
  
}
#block_row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.header_name{
  padding-top: 0px;
  height: max-content;
  display: inline-block;
}
.header_h1{
  width: max-content;
  text-align: center;
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#header_p1{
  font-size: 1.5em;
  font-family: cursive;
}
.header_img_flex{
  display: inline-flex;
  flex-wrap: wrap-reverse;
}
.header_img{
  margin-top: 10px;
  margin-left: 50px;
  display: inline-block;
  
}
.header_img_2{
  margin-top: 8px;
  margin-left: 50px;
  display: inline-block;
}
.header_img_3{
  margin-top: 8px;
  margin-left: 50px;
  display: inline-block;
}
.header_menu{
  display: inline-flex;
}
.header_nav{
  display: inline-flex;
  justify-content: flex-end;
}
.headeer_nav_line{
  display: inline-flex;
  width: max-content;
}
.nav_home{
  display: inline-flex;
  padding-left: 3em;
}
.nav_design{
  display: inline-flex;
  padding-left: 3em;
}
.nav_contact{
  display: inline-flex;
  padding-left: 3em;
}
.link_nav{
  color: white;
  text-decoration: none;
  font-family:cursive;
  font-size: 1.25em;
  display: inline-flex;
}

#description{
  width: 100%;
  height: max-content;
  margin-left: 0%;
  padding-left: 0%;

}
.h1_desc_text{
  font-size: 50px;
  font-family: cursive; 
  padding-left: 10%;
  text-align: start; 
}
.desc_text{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  width: 80%;
  text-align: center;
  margin-left: 5%;
}

.desc_img{
  width: 100%;
  height: 400px;
}

#main{
  height: max-content;
  margin-top: 10px;
  width: 98%;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0%;
  padding-top: 0%;
}
#main_div_line{
  display: flex;
  align-items: center;
  
  padding: 10px;
  margin: 0%;
  
}
.main_div_img{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 45%;
  height: max-content;
  
}
.main_img{
  width: 100%;
  border-radius: 10px;
  
}

.main_div_p{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  height: max-content;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2em;
}
.p_main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}
.h2_main{
  font-family: cursive;
}
#footer{ 
   
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: max-content;
  
  margin-top: 20px;
  padding: 20px;
}
.footer_contact{
  font-size: 1.5em;
  width: max-content;
  height: min-content;
  align-items: center;
  
}
.footer_p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 0, 0);
}
.github_footer{
  align-items: center;
}
.github_footer_a{
  align-items: center;
}